@use '../sections/lib' as *;


.header {
background-color: $background-color;
width: 1280px;
height: 216px;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
}

h1 {
  color: $text-color;
  @include roboto-bold;
  font-size: 48px;
  margin-left: 20px;
}

.title{
  display: flex;
  flex-direction: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 10px; 
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 0;
    margin-top: 20px;

    li {
      a {
        text-decoration: none;
        color: $text-color;
        @include roboto-bold;
        @include hover-blue;
        width: 102;
        height: 28;
        top: 166px;
        left: 711px;
        font-size: 24px;
        opacity: 1;
        }
      }
    }
  }