@use '../sections/lib' as *;

.header {
  background-color: $background-color;

  .wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

h1 {
  color: $text-color;
  @include roboto-bold;
  font-size: 48px;
  margin-left: 20px;
}

.title {
  display: flex;
  flex-direction: center;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 0;
    margin-top: 20px;

    li {
      a {
        text-decoration: none;
        color: $text-color;
        @include roboto-bold;
        @include hover-blue;
        top: 166px;
        left: 711px;
        font-size: 24px;
        opacity: 1;
      }
    }
  }
}

//lägga till så hambugar menyn inte syns. Ska ham-menu också döljas? förmodligen
.off-screen-menu {
  display: none;
}

@include mobile {
  .header {
    height: auto;
    padding: 20px 20px;
  }

  h1 {
    font-size: 24px;
    margin: 0;
    width: 78px;
    margin-left: 10px;
  }

  .title {
    padding: 0;
  }

  .logo-container {
    justify-content: center;
    margin: 0;
  }

  .nav {
    display: none;
  }

  .off-screen-menu {
    background-color: $background-color;
    height: 100vh;
    width: 100%;
    max-width: 740px;
    position: fixed;
    top: 0;
    right:-450px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
  }

  .off-screen-menu.active{
    right:0;
  }

  .mobile-nav {
    padding: 1rem;
    display: flex;
    background-color: $background-color;
  }

  .ham-menu {
    height: 50px;
    width: 50px;
    margin-left:auto;
    position:relative;
  }

  .ham-menu span {
    height: 5px;
    width:100%;
    background-color: white;
    border-radius: 25px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }
  
  .ham-menu span:nth-child(1) {
    top:25%;
  }

  .ham-menu span:nth-child(3) {
    top:75%;
  }

  .ham-menu.active span:nth-child(1) {
    top:50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top:50%;
    transform: translate(-50%, -50%) rotate(135deg);
  }
}