@use '../sections/lib' as *;

.header {
  background-color: $background-color;

  .wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

h1 {
  color: $text-color;
  @include roboto-bold;
  font-size: 48px;
  margin-left: 20px;
}

.title {
  display: flex;
  flex-direction: center;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 0;
    margin-top: 20px;

    li {
      a {
        text-decoration: none;
        color: $text-color;
        @include roboto-bold;
        @include hover-blue;
        top: 166px;
        left: 711px;
        font-size: 24px;
        opacity: 1;
      }
    }
  }
}

@include mobile {
  .header {
    height: auto;
    padding: 20px 20px;
  }

  h1 {
    font-size: 24px;
    margin: 0;
    width: 78px;
    margin-left: 10px;
  }

  .title {
    padding: 0;
  }

  .logo-container {
    justify-content: center;
    margin: 0;
  }

  .nav {
    display: none;
  }
}