@use '../sections/lib' as *;

.hero {
  width: 1280px;
  height: 468px;
  z-index: 1;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroButtons {
    display: flex;
    flex-direction: flex-end;
    gap: 20px;
 //   margin-top: -30px;
    z-index: 1;
    position:absolute;
    top: 660px;

    .buttonRed {
        @include buttonRed;
    }
    
    .buttonBlue {
        @include buttonBlue;
    }
}


