@use '../sections/lib' as *;

.hero {
  min-width:100%;
  height: 700px;
  z-index: 1;
//  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    gap: 20px;
    z-index: 1;
  //  position:absolute;
  //  top: 880px;

    .buttonRed {
        @include buttonRed;
    }
    
    .buttonBlue {
        @include buttonBlue;
    }

}

@include mobile {

  .hero {
    max-width: 480px;
    height: 274px;
  }

  .heroButtons {
    padding-top: 50px;
    top: 400px;
    flex-direction: column-reverse;

      .buttonRed {
        background-color: transparent;
        color: blue;
      }
  }

}

