$background-color: #011827;
$text-color: #FFFFFF;

@mixin roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@mixin hover-blue {
  &:hover {
    color: #8ACFE5;
  }
}

@mixin buttonRed {
  background-color: #FF5733;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  width: 308px;
  height: 66px;
  cursor: pointer;
  @include roboto-bold;
  margin-right: 10px;
}

@mixin buttonBlue {
  background-color: #337AFF;
  color: black;
  border: none;
  width: 308px;
  height: 66px;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  @include roboto-bold;
}