$background-color: #011827;
$text-color: #FFFFFF;
$text-color-black: #000000;
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1280px;
$text-font-blue: #36769D;

@mixin roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@mixin roboto-italic {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

@mixin roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin hover-blue {
  &:hover {
    color: #8ACFE5;
  }
}

@mixin buttonRed {
  background-color: #E3170A;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  width: 308px;
  height: 66px;
  cursor: pointer;
  @include roboto-bold;
  border-radius: 6px;
}

@mixin buttonBlue {
  background-color: lightskyblue;
  color: black;
  border: none;
  width: 308px;
  height: 66px;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 25px;
  cursor: pointer;
  @include roboto-bold;
}

@mixin btn_underline_blue {
        background-color: transparent;
        color: $text-font-blue;
        text-decoration: underline;
        font-size: 16px;
}

@mixin mobile {
  @media (max-width: 750px) {
    @content;
  }
}