
.play_box_1 {
    display: flex;
    justify-content: center;
}
.play_image_1 img {
    width: 640px;
    height: 460px;
    display: block;
 }

.play_text_1 {
    width: 640px;
    height: 460px;
    background-color: white;
}

.play_box_2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.play_text_2 {
    width: 640px;
    height: 460px;
    background-color: white;
}
 .play_image_2 img {
    width: 640px;
    height: 460px;
    display: block;
 }