@use '../sections/lib' as *;

.story {
  background-color: $background-color;
  width: 1280px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color;
}

.btnStory {
  margin-top: 20px;
  border-radius: 3px;
  width: 308px;
  height: 66px;
  color: #8ACFE5;
  background-color: transparent;
  border-color: #8ACFE5;
}