@use '../sections/lib' as *;

.testimonials {
  background-color: white; // bakgrunden hamnar bakom, fixa
  width: 1280px;
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.testimonials img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial_1, .testimonial_2 {
  display: flex;
  align-items: center;
  flex-direction: flex-end;
  gap: 10px;
  width: 409px;
  margin-top: 130px;
  font-size: 20px;
  @include roboto-italic;
}