@use '../sections/lib' as *;

.testimonials {
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonials img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial_1 {
  display: flex;
  margin-top: 130px;
  font-size: 20px;
  @include roboto-italic;

  p {
    width: 409px;
    margin-left: 20px;
  }
}

.testimonial_2 {
  display: flex;
  margin-top: 130px;
  font-size: 20px;
  @include roboto-italic;

  p {
    width: 409px;
    margin-left: 20px;
  }
}


@include mobile {
  .testimonials {
    flex-direction: column;
  }

  .testimonials img {
    width: 73px;
    height: 72px;
  }

  .testimonial_1 {
    margin-top: 50px;
    margin-left: 20px;

    .text-container {
      p {
        width: 250px;
        margin: 0 0 10px 20px;
      }
    }
  }

  .testimonial_2 {
    display: none;
  }
}